a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
a:hover {
text-decoration: underline;
}
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
}

.centertext {
    text-align: center;

}


